@media screen and (max-width: 768px){


    /*----- header ------*/

    .nav__container {
        padding: 20px 20px 0 0 ;
    }

    .nav__icon{
        display: inline-block;

    }

    .nav {
        position: fixed;
        display: none;
        top: 0;
        right: 0;
        left: 0;
        margin-top: 60px;
        height: 100%;
        background-color: #584776;
        z-index: 1000;
        overflow: auto;
    }

    .nav__link {
        display: block;
        padding: 20px 0 20px 0;
        text-align: center;
        font: 18px robotoBlack;
    }


    .nav__logo-container {
        display: none;
    }

    .header-main {
        text-align: center;
        padding: 0 20px 0 20px;
    }

    .header {
        height: 568px;
    }

    .header-main__h1{
        margin: 83px 0 0 0;
    }

    /*------- Our Story -------*/

    .ourStory__logo {
        display: none;
    }

    .ourStory {
        padding: 70px 20px 70px 20px;
    }

    /*------ expertise -----*/

    .expertise {
        padding: 70px 20px 70px 20px;
    }

    .items__text {
        display: none;
    }

    .items__container {
        width: 140px;
        text-align: center;
    }

    .expertise__items-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: none;
        margin: 50px 0 0 0;
    }

    .expertise__items-bottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 50px 0 0 0;
    }

    .expertise__border {
        display: none;
    }

    .expertise__all {
        display: flex;

    }

    /*-------- Meet our team -------*/
    .team__caption {
        padding: 50px 20px 16px 20px;
    }

    .team__text{
        padding: 0 20px 0 20px;
    }

    .team__hr{
        margin: 18px auto 17px;
    }

    .team__human {
        width: 120px;
        margin: 0 10px 20px 10px;
    }

    .team__name {
       margin: 11px 0 6px 0;
    }

    .team__about {
        margin: 0 0 12px 0;
    }

    .team__container1-2 {
          display: flex;
          flex-direction: column;
      }

    .team__container3-4 {
        display: flex;
        flex-direction: column;
    }

    .team__img1 {
        background-image: url("../img/team1_mobile.JPG");
        width: 120px;
        height: 125px;
    }

    .team__img2 {
        background-image: url("../img/team2_mobile.JPG");
        width: 120px;
        height: 125px;
    }

    .team__img3 {
        background-image: url("../img/team3_mobile.JPG");
        width: 120px;
        height: 125px;
    }

    .team__img4 {
        background-image: url("../img/team4_mobile.JPG");
        width: 120px;
        height: 125px;
    }

    .team__joinUs{
        margin: 30px 0 21px 0;
    }

    .team__button{
        margin: 0 0 40px 0;
    }


        /*------ Our works  ---------*/

    .works {
        padding: 50px 0 50px 0;
    }

    .works__caption {
        margin-bottom: 50px;
    }

    .works_seeAll {
        margin: 10px 0 0 0;
    }

    .works__container{
        padding: 0 20px 0 20px;
        width: 320px;
    }

    .works__works-top {
        display: flex;
        flex-direction: column;
    }

    .works__works-bottom{
        display: flex;
        flex-direction: column;
    }

    .works__all-works {
        display: flex;
        justify-content: space-around;
    }

    .works__img1 {
        background-image: url("../img/works1_mobile.png");
        height: 120px;
        width: 160px;
    }

    .works__img2 {
        background-image: url("../img/works2_mobile.JPG");
        height: 120px;
        width: 160px;
    }

    .works__img3 {
        background-image: url("../img/works3_mobile.jpg");
        height: 120px;
        width: 160px;
    }

    .works__img4 {
        background-image: url("../img/works4_mobile.jpg");
        height: 120px;
        width: 160px;
    }

    .works__img5 {
        background-image: url("../img/works5_mobile.jpg");
        height: 120px;
        width: 160px;
    }
    .works__img6 {
        background-image: url("../img/works6_mobile.png");
        height: 120px;
        width: 160px;
    }

    .works__img7 {
        background-image: url("../img/works7_mobile.jpg");
        height: 120px;
        width: 160px;
    }

    .works__img8 {
        background-image: url("../img/works8_mobile.jpg");
        height: 120px;
        width: 160px;
    }

    .works__img9 {
        background-image: url("../img/works9_mobile.png");
        height: 120px;
        width: 160px;
    }

    .works__img10 {
        background-image: url("../img/works10_mobile.png");
        height: 120px;
        width: 160px;
    }

    .works__img11 {
        background-image: url("../img/works11_mobile.png");
        height: 120px;
        width: 160px;
    }

    .works__img12 {
        background-image: url("../img/works12_mobile.png");
        height: 120px;
        width: 160px;
    }

    /*----- quote -----*/
    .quote__caption {
        font: 50px playfair-display-regular;
        margin: 29px 0 0 0;
    }

    .quote__text{
        font: 14px playfair-display-regular;
        padding: 0 20px 0 20px;
    }

    .quote__name {
        margin: 22px 0 13px 0;
    }

    .quote__who {
        margin: 0 0 20px 0;
    }

    .quote__container-img {
        width: 120px;
    }

    .quote__img2, .quote__img3, .quote__img5, .quote__img6 {
        display: none;
    }


    /*---------- news clients ---------*/

    .news-client {
        flex-direction: column;
    }

    .news__container {
        margin: 0;
        padding: 0 10px 0 10px;
    }

    .news__name , .news__email, .news__subject {
        width: 280px;
        height: 35px;
    }

    .news__message {
        width: 280px;
        height: 100px;
    }

    .client{
    padding: 0 20px 0 20px;
    }

    .client__caption {
        margin: 40px 0 40px 0;
    }

    .client__column-left {
        margin: 0;
    }

    .client__img-container {
        width: 120px;
        height: 70px;
        margin: 0 0 10px 0;
    }

    .client__img1 {
        background-image: url("../img/client1_mobile.png");
        height: 16px;
        width: 120px;
    }

    .client__img2 {
        background-image: url("../img/client2_mobile.png");
        height: 19px;
        width: 120px;
    }

    .client__img3 {
        background-image: url("../img/client3_mobile.png");
        height: 32px;
        width: 120px;
    }

    .client__img4 {
        background-image: url("../img/client4_mobile.png");
        height: 18px;
        width: 120px;
    }

    .client__img5 {
        background-image: url("../img/client5_mobile.png");
        height: 19px;
        width: 120px;
    }

    .client__img10 {
        background-image: url("../img/client10_mobile.png");
        height: 65px;
        width: 120px;
    }

    /*-------- footer -------*/

    .footer {
        flex-direction: column;
        padding: 0 20px 0 20px;
        width: 280px;
    }

    .footer__tajam{
        margin: 0;
    }

    .logo__container{
        display: none;
    }

    .tajam__text {
        display: none;
    }

    .tajam__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0 10px 0;
        width: 280px;
    }

    .tajam__terms{
        margin: 10px 0 10px 0;
    }

    .footer__studio {
        margin: 20px 0 20px 0 ;
    }

    .contacts__address{
        margin: 10px 0 15px 0;
    }

    .studio__container {
        width: 280px;
    }

    .icons__img1 {
        margin: 15px 5px 65px 0;
    }

    .studio__caption {
        display: none;
    }

    .footer__stay{
        margin: 0;
    }

    .stay__subscribe {
        margin: 10px 0 10px 0;
        width: 270px;
    }

    .stay__caption {
        display: none;
    }

    .stay__copyright {
        margin: 20px 0 10px 0;
    }

}